table.table-has-arrows a{
    color: inherit;
}

table.table-has-arrows th,
table.table-has-arrows td {
    vertical-align: middle;
}

.has-arrows{
    position: relative;
    padding-right: 25px;
}

.has-arrows a{
    color: inherit;
}

.has-arrows .arrow-up,
.has-arrows .arrow-down{
    position: absolute;
}

.has-arrows .arrow-up{
    top: -5px;
}

.has-arrows .arrow-down{
    bottom: -5px;
}

.has-crown-mark{
    line-height: 1;
    position: relative;
    padding-top: 35px;
    display:inline;
}

.has-crown-mark .crown-mark{
    position: absolute;
    top: 0;
    color: gold;
}

.has-image-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

table.fixed-width-table{
    display: block;
    overflow-x: scroll;
}

td.fixed-width-td{
    min-width: 175px;
}

.main-navbar{
    margin-bottom: 150px;
}

.filter-button-group{
    justify-content: flex-end;
}

td.td-has-success {
    background-color: #f0fff0;
}