.has-arrows{
    position: relative;
    padding-right: 25px;
}

.has-arrows a{
    color: inherit;
}

.has-arrows .arrow-up,
.has-arrows .arrow-down{
    position: absolute;
}

.has-arrows .arrow-up{
    top: -5px;
}

.has-arrows .arrow-down{
    bottom: -5px;
}

.has-crown-mark{
    line-height: 1;
    position: relative;
    padding-top: 25px;
}

.has-crown-mark .crown-mark{
    position: absolute;
    top: 0;
    color: gold;
}